<!-- <div class="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="title">Ev Rapolama Ekle</h5>
            </div>
            <div class="card-body">
                <form [formGroup]="buildReporterAddForm">
                    

                    <div class="mb-3">
                        <label for="address">Adres</label>
                        <div class="form-group">
                            <input type="text" id="address" formControlName="address" class="form-control"
                                placeholder="Adres" />
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="detailedAddress">Detaylı Adres</label>
                        <div class="form-group">
                            <input type="text" id="detailedAddress" formControlName="detailedAddress" class="form-control"
                                placeholder="Detaylı Adres" />
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="urgency">Aciliyet</label>
                        <div class="form-group">
                            <input type="text" id="urgency" formControlName="urgency" class="form-control"
                                placeholder="Aciliyet" />
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="mapsAddress">Map Adresi</label>
                        <div class="form-group">
                            <input type="text" id="mapsAddress" formControlName="mapsAddress" class="form-control"
                                placeholder="Map Adresi" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-fill btn-primary" (click)="add()">Ekle</button>
            </div>
        </div>
    </div>
</div> -->


<html>

<body class="bg-white text-zinc-900 dark:bg-zinc-900 dark:text-white vsc-initialized">
    <div class="mx-auto max-w-screen-lg px-6">
        <div class="mx-auto max-w-screen-sm">
            <h1 class="mb-5">Ev Raporla!</h1>
            <form [formGroup]="buildReporterAddForm">
                <div class="grid gap-4 sm:grid-cols-2">

                    <div class="sm:col-span-2">
                        <div class="flex flex-col gap-2">
                            <div><label class="text-sm font-semibold" for="address">Adres</label></div>
                            <div class="relative">
                                <span
                                    class="pointer-events-none absolute top-0 left-0 flex h-11 w-11 items-center justify-center opacity-60 dark:opacity-40">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" aria-hidden="true" width="20"
                                        height="20">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z"></path>
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z">
                                        </path>
                                    </svg>
                                </span>
                                <textarea name="address" id="address" class="pl-10 resize-none" placeholder="Adres"
                                    tabindex="0" aria-label="Adres" rows="2" style="height: 64px;"
                                    formControlName="address">
                                </textarea>
                            </div>
                        </div>
                    </div>

                    <div class="sm:col-span-2">
                        <div class="flex flex-col gap-2">
                            <div><label class="text-sm font-semibold" for="detailedAddress">Adres Tarifi</label></div>
                            <div class="relative">
                                <span
                                    class="pointer-events-none absolute top-0 left-0 flex h-11 w-11 items-center justify-center opacity-60 dark:opacity-40">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" aria-hidden="true" width="20"
                                        height="20">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M15 15l6-6m0 0l-6-6m6 6H9a6 6 0 000 12h3">
                                        </path>
                                    </svg>
                                </span>
                                <textarea name="addressDetail" id="detailedAddress" class="pl-10 resize-none"
                                    placeholder="Adres Tarifi" tabindex="0" aria-label="Adres Tarifi" rows="1"
                                    style="height: 40px;" formControlName="detailedAddress">
                                </textarea>
                            </div>
                        </div>
                    </div>

                    <div class="sm:col-span-2">
                        <div class="flex flex-col gap-2">
                            <div><label class="text-sm font-semibold" for="urgency">Aciliyet</label></div>
                            <div class="relative">
                                <div class="grid grid-flow-row gap-4 sm:grid-flow-col">
                                    <div class="flex items-center gap-2">
                                        <input name="urgency" id="Normal-0" type="radio" class="" tabindex="0"
                                            aria-label="Normal" value="Normal" formControlName="urgency">
                                        <label for="Normal-0" class="cursor-pointer font-semibold">Normal </label>
                                    </div>
                                    <div class="flex items-center gap-2">
                                        <input name="urgency" id="Orta-1" type="radio" class="" tabindex="0"
                                            aria-label="Orta" value="Orta" formControlName="urgency">
                                        <label for="Orta-1" class="cursor-pointer font-semibold">Orta</label>
                                    </div>
                                    <div class="flex items-center gap-2">
                                        <input name="urgency" id="Kritik-2" type="radio" class="" tabindex="0"
                                            aria-label="Kritik" value="Kritik" checked="" formControlName="urgency">
                                        <label for="Kritik-2" class="cursor-pointer font-semibold">Kritik </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="sm:col-span-2">
                        <div class="flex flex-col gap-2">
                            <div><label class="text-sm font-semibold" for="mapsAddress">Harita Adresi</label></div>
                            <div class="relative">
                                <span
                                    class="pointer-events-none absolute top-0 left-0 flex h-11 w-11 items-center justify-center opacity-60 dark:opacity-40">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" aria-hidden="true" width="20"
                                        height="20">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z"></path>
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z">
                                        </path>
                                    </svg>
                                </span>
                                <input placeholder="Harita Adresi" tabindex="0" type="text" class="pl-10"
                                    id="mapsAddress" aria-label="İsim" value="" formControlName="mapsAddress">
                            </div>
                        </div>
                    </div> -->


                </div>
            </form>

        </div>
        <div>
            <h2>Harita</h2>
            <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDoubleClickZoom]="true"
                (mapClick)="mapClick($event)" (mapDblClick)="mapDoubleClick($event)">
                <agm-marker [latitude]="location.lat" [longitude]="location.lng" [title]="'Konum'" [label]="'A'"
                    (markerClick)="markerClick($event)"></agm-marker>
            </agm-map>
        </div>

        <div>
            <button class="btn btn-fill btn-primary" (click)="add()">Ekle</button>
        </div>
    </div>

</body>

</html>