<b>Yiyeceğe İhtiyacı Olanlar</b>
<div *ngIf="dataLoaded==false" class="spinner-border text-danger" role="status">
    <span class="visually-hidden">Loading...</span>
</div>

<div *ngIf="dataLoaded==true" class="mb-3">
    <label for="filterText" class="form-label">Adrese Göre Filtrele : </label>
    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText"
        placeholder="Arama İfadesi Giriniz">
</div>
<div *ngIf="filterText" class="alert alert-success">
    {{filterText}} Aradınız.
</div>

<table *ngIf="dataLoaded==true" class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Adı</th>
            <th>Soyadı</th>
            <th>E-posta</th>
            <th>Telefon No</th>
            <th>Adres</th>
            <th>Detaylı Adres</th>
            <th>Aciliyet</th>
            <th>Durum Bilgisi</th>
            <th>Harita Adresi</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of victims | addressFilter:filterText">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.surname}}</td>
            <td>{{item.email}}</td>
            <td>{{item.phoneNumber}}</td>
            <td>{{item.address}}</td>
            <td>{{item.detailedAddress}}</td>
            <td>{{item.urgency}}</td>
            <td>{{item.statusInformation}}</td>
            <td>{{item.mapsAddress}}</td>
        </tr>
    </tbody>
</table>