<div class="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="title">Seyahat Yardımı Ekle</h5>
            </div>
            <div class="card-body">
                <form [formGroup]="transporterHelperAddForm">
                    
                    <div class="mb-3">
                        <label for="infoAboutHelp">Yardım Hakkında Bilgi</label>
                        <div class="form-group">
                            <input type="text" id="infoAboutHelp" formControlName="infoAboutHelp" class="form-control"
                                placeholder="Yardım Hakkında Bilgi" />
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="addressFrom">Kalkış Noktası</label>
                        <div class="form-group">
                            <input type="text" id="addressFrom" formControlName="addressFrom" class="form-control"
                                placeholder="Kalkış Noktası" />
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="addressTo">Varış Noktası</label>
                        <div class="form-group">
                            <input type="text" id="addressTo" formControlName="addressTo" class="form-control"
                                placeholder="Varış Noktası" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-fill btn-primary" (click)="add()">Ekle</button>
            </div>
        </div>
    </div>
</div>