<div class="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="title">Ev Yardımı Ekle</h5>
            </div>
            <div class="card-body">
                <form [formGroup]="houseHelperAddForm">
                    
                    <div class="mb-3">
                        <label for="infoAboutHelp">Yardım Hakkında Bilgi</label>
                        <div class="form-group">
                            <input type="text" id="infoAboutHelp" formControlName="infoAboutHelp" class="form-control"
                                placeholder="Yardım Hakkında Bilgi" />
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="numberOfPeople">Yardım Edilecek Kişi Sayısı</label>
                        <div class="form-group">
                            <input type="number" id="numberOfPeople" formControlName="numberOfPeople" class="form-control"
                                placeholder="Yardım Edilecek Kişi Sayısı" />
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="mapsAddress">Harita Adresi</label>
                        <div class="form-group">
                            <input type="text" id="mapsAddress" formControlName="mapsAddress" class="form-control"
                                placeholder="Harita Adresi" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-fill btn-primary" (click)="add()">Ekle</button>
            </div>
        </div>
    </div>
</div>