<div class="paddingRule">
    <!-- <p>{{authService.loggedInUser.firstName}} Hoş Geldin</p> -->
    <div *ngIf="dataLoaded==true && victims.length!=0">
        <h2>Yardım Taleplerim</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Yardım Türü</th>
                    <th>Kişi Sayısı</th>
                    <th>Aciliyet</th>
                    <th>Adres</th>
                    <th>Detaylı Adres</th>
                    <th>Durum Bilgisi</th>
                    <th>Harita Adresi</th>
                    <th>İşlem</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of victims">
                    <td>{{item.victimType}}</td>
                    <td>{{item.numberOfPeople}}</td>
                    <td>{{item.urgency}}</td>
                    <td>{{item.address}}</td>
                    <td>{{item.detailedAddress}}</td>
                    <td>{{item.statusInformation}}</td>
                    <td><button class="btn btn-fill btn-primary" routerLink="/mapsDetail/{{item.mapsAddress}}">Haritada
                            Göster</button></td>
                    <td><button (click)="deleteVictim(item)" class="btn btn-danger">Sil</button></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="dataLoaded==true && buildReporters.length!=0">
        <h2>Ev Raporlarım</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Aciliyet</th>
                    <th>Adres</th>
                    <th>Detaylı Adres</th>
                    <th style="width: 550px;"></th>
                    <th>Harita Adresi</th>
                    <th>İşlem</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of buildReporters">
                    <td>{{item.urgency}}</td>
                    <td>{{item.address}}</td>
                    <td>{{item.detailedAddress}}</td>
                    <td style="width: 550px;"></td>
                    <td><button class="btn btn-fill btn-primary" routerLink="/mapsDetail/{{item.mapsAddress}}">Haritada
                            Göster</button></td>
                    <td><button (click)="deleteBuildReporters(item)" class="btn btn-danger">Sil</button></td>
                </tr>
            </tbody>
        </table>
    </div>

    
    <div *ngIf="dataLoaded==true && houseHelpers.length!=0">
        <h2>Barınma Yardımlarım</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Yardım Detayı</th>
                    <th>Yardım Kapasitesi (Kişi Sayısı)</th>
                    <th>Harita Adresi</th>
                    <th>İşlem</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of houseHelpers">
                    <td>{{item.infoAboutHelp}}</td>
                    <td>{{item.numberOfPeople}}</td>
                    <td><button class="btn btn-fill btn-primary" routerLink="/mapsDetail/{{item.mapsAddress}}">Haritada
                            Göster</button></td>
                    <td><button (click)="deleteHouseHelper(item)" class="btn btn-danger">Sil</button></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="dataLoaded==true && foodHelpers.length!=0">
        <h2>Yemek Yardımlarım</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Yardım Detayı</th>
                    <th>Yardım Kapasitesi (Kişi Sayısı)</th>
                    <th>Harita Adresi</th>
                    <th>İşlem</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of foodHelpers">
                    <td>{{item.infoAboutHelp}}</td>
                    <td>{{item.numberOfPeople}}</td>
                    <td><button class="btn btn-fill btn-primary" routerLink="/mapsDetail/{{item.mapsAddress}}">Haritada
                            Göster</button></td>
                    <td><button (click)="deleteFoodHelper(item)" class="btn btn-danger">Sil</button></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="dataLoaded==true && tentHelpers.length!=0">
        <h2>Çadır Yardımlarım</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Yardım Detayı</th>
                    <th>Yardım Kapasitesi (Kişi Sayısı)</th>
                    <th>Harita Adresi</th>
                    <th>İşlem</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of tentHelpers">
                    <td>{{item.infoAboutHelp}}</td>
                    <td>{{item.numberOfPeople}}</td>
                    <td><button class="btn btn-fill btn-primary" routerLink="/mapsDetail/{{item.mapsAddress}}">Haritada
                            Göster</button></td>
                    <td><button (click)="deleteTentHelper(item)" class="btn btn-danger">Sil</button></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="dataLoaded==true && operatorHelpers.length!=0">
        <h2>İş Makinesi Kullanma Yardımlarım</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Yardım Detayı</th>
                    <th>Operatörün Çalışacabileceği Adres</th>
                    <th>İşlem</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of operatorHelpers">
                    <td>{{item.infoAboutHelp}}</td>
                    <td>{{item.address}}</td>
                    <td><button (click)="deleteOperatorHelper(item)" class="btn btn-danger">Sil</button></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="dataLoaded==true && transporterHelpers.length!=0">
        <h2>Seyahat Yardımlarım</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Yardım Detayı</th>
                    <th>Kalkış Noktası</th>
                    <th>Varış Noktası</th>
                    <th>İşlem</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of transporterHelpers">
                    <td>{{item.infoAboutHelp}}</td>
                    <td>{{item.addressFrom}}</td>
                    <td>{{item.addressTo}}</td>
                    <td><button (click)="deleteTransporterHelper(item)" class="btn btn-danger">Sil</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>