<!-- <div *ngIf="dataLoaded==true" class="mb-3">
    <label for="filterText" class="form-label">Ürün Ara : </label>
    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText"
        placeholder="Arama İfadesi Giriniz">
</div> -->

<div class="mb-3">
    <label for="userForLoginDto.email" class="form-label">Email : </label>
    <input type="text" [(ngModel)]="userForLoginDto.email" class="form-control" id="userForLoginDto.email" placeholder="Email">

    <label for="userForLoginDto.password" class="form-label">Password : </label>
    <input type="text" [(ngModel)]="userForLoginDto.password" class="form-control" id="userForLoginDto.password" placeholder="Password">
</div>