<div class="container">
    <div class="row">
        <div class="col-md-3">
            <button type="button" class="btn btn-success" routerLink="/buildreporters">Raporlanan Evler</button>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-danger" routerLink="/buildreporters/add">Ev Raporlama Ekle</button>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-success" routerLink="/coldvictims">Isınmaya İhtiyacı Olanlar</button>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-success" routerLink="/debrisvictims">Enkaz Altında Olanlar</button>
        </div>
    </div>
</div>