<!-- <div class="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="title">Çadır Yardımı Ekle</h5>
            </div>
            <div class="card-body">
                <form [formGroup]="tentHelperAddForm">
                    
                    <div class="mb-3">
                        <label for="infoAboutHelp">Yardım Hakkında Bilgi</label>
                        <div class="form-group">
                            <input type="text" id="infoAboutHelp" formControlName="infoAboutHelp" class="form-control"
                                placeholder="Yardım Hakkında Bilgi" />
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="numberOfPeople">Yardım Edilecek Kişi Sayısı</label>
                        <div class="form-group">
                            <input type="number" id="numberOfPeople" formControlName="numberOfPeople" class="form-control"
                                placeholder="Yardım Edilecek Kişi Sayısı" />
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="mapsAddress">Harita Adresi</label>
                        <div class="form-group">
                            <input type="text" id="mapsAddress" formControlName="mapsAddress" class="form-control"
                                placeholder="Harita Adresi" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-fill btn-primary" (click)="add()">Ekle</button>
            </div>
        </div>
    </div>
</div> -->


<html>

<body class="bg-white text-zinc-900 dark:bg-zinc-900 dark:text-white vsc-initialized">
    <div class="mx-auto max-w-screen-lg px-6">
        <div class="mx-auto max-w-screen-sm">
            <h1 class="mb-5">Çadır Yardımı Sağlayabilirim!</h1>
            <form [formGroup]="tentHelperAddForm">
                <div class="grid gap-4 sm:grid-cols-2">

                    <div class="sm:col-span-2">
                        <div class="flex flex-col gap-2">
                            <div><label class="text-sm font-semibold" for="detailedAddress">Yardım Hakkında Bilgi</label></div>
                            <div class="relative">
                                <span
                                    class="pointer-events-none absolute top-0 left-0 flex h-11 w-11 items-center justify-center opacity-60 dark:opacity-40">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" aria-hidden="true" width="20"
                                        height="20">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M15 15l6-6m0 0l-6-6m6 6H9a6 6 0 000 12h3">
                                        </path>
                                    </svg>
                                </span>
                                <textarea name="infoAboutHelp" id="infoAboutHelp" class="pl-10 resize-none"
                                    placeholder="Yardım Hakkında Bilgi" tabindex="0" aria-label="Adres Tarifi" rows="1"
                                    style="height: 40px;" formControlName="infoAboutHelp">
                                </textarea>
                            </div>
                        </div>
                    </div>

                    <div class="sm:col-span-2">
                        <div class="flex flex-col gap-2">
                            <div><label class="text-sm font-semibold" for="numberOfPeople">Yardım Edilecek Kişi Sayısı</label></div>
                            <div class="relative">
                                <span
                                    class="pointer-events-none absolute top-0 left-0 flex h-11 w-11 items-center justify-center opacity-60 dark:opacity-40">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" aria-hidden="true" width="20"
                                        height="20">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M19 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zM4 19.235v-.11a6.375 6.375 0 0112.75 0v.109A12.318 12.318 0 0110.374 21c-2.331 0-4.512-.645-6.374-1.766z">
                                        </path>
                                    </svg>
                                </span>
                                <input placeholder="Kişi Sayısı" tabindex="0" type="number" name="bodyCount"
                                    id="numberOfPeople" class="pl-10" aria-label="Kişi Sayısı" min="1" value=""
                                    formControlName="numberOfPeople">
                            </div>
                        </div>
                    </div>

                    <div class="sm:col-span-2">
                        <div class="flex flex-col gap-2">
                            <div><label class="text-sm font-semibold" for="mapsAddress">Harita Adresi</label></div>
                            <div class="relative">
                                <span
                                    class="pointer-events-none absolute top-0 left-0 flex h-11 w-11 items-center justify-center opacity-60 dark:opacity-40">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" aria-hidden="true" width="20"
                                        height="20">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z"></path>
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z">
                                        </path>
                                    </svg>
                                </span>
                                <input placeholder="Harita Adresi" tabindex="0" type="text" class="pl-10"
                                    id="mapsAddress" aria-label="İsim" value="" formControlName="mapsAddress">
                            </div>
                        </div>
                    </div>

                    <div>
                        <button class="btn btn-fill btn-primary" (click)="add()">Ekle</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>